body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: cyan;
    padding: 25px;
    font-size: 200%;
    color: grey;
}

div.base {
    padding: 50px;
    background-color: silver;
    border: solid 1px #333333;
    color: white;

}
h1{
  color: white;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}
.solution{
  background-color: white;
  color:grey;
  border-spacing: 50px;
}
.popup:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:1000px;
    height:auto;
    display:block;
    z-index:999;
}
img {
    width: 300px;
    height: auto;
}
